:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --main-title-color: #ffffff;
  --first-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --background: #e5e5e5;
  --first-btn-color: #212121;
  --btn-background-color: #f5f4fa;
  --second-btn-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-map-color: #ffffff;
  --icon-fill-first-color: #afb1b8;
  --icon-fill-second-color: #ffffff;
}

body {
  /* width: 1600px;
  margin: 0 auto; */
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* ---------------------HEADER------------------------ */

.header {
  background-color: var(--first-background-color);
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;

  color: var(--title-color);
}

.logo-accent {
  color: var(--accent-color);
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-nav-link {
  color: var(--title-color);
}

.current {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header-contact-link {
  display: flex;
  align-items: center;
  color: currentColor;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

/* ---------------HERO--------------- */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero-bg.jpg);

  /* background-size: cover; */
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--second-btn-color);
  background: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----------------FEATURES-------------------*/

.features {
  background-color: var(--first-background-color);
}

.features-list {
  display: flex;
}

.features-icon-bg {
  margin-bottom: 30px;
  padding: 25px 100px;
  background: var(--third-background-color);
  border-radius: 4px;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------------------OCCUPATION----------------------- */

.occupation {
  padding-bottom: 94px;

  background-color: var(--first-background-color);
}

.occupation-list {
  display: flex;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------------TEAM---------------------------- */

.team {
  background-color: var(--third-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;

  background: var(--first-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-entire-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.soc-item + .soc-item {
  margin-left: 10px;
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-soc-link {
  background-color: var(--first-background-color);
  color: var(--icon-fill-first-color);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--icon-fill-second-color);
}

/* -----------------------CLIENTS---------------------- */

.clients {
  background-color: var(--first-background-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-fill-first-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-fill-first-color);
}

.clients-item-link:hover,
.clients-item-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* -----------------------FOOTER------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--second-background-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--main-title-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-link-color);
}

.footer-map {
  color: var(--footer-map-color);
}

.footer-item-link:hover,
.footer-item-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.footer-soc-list {
  display: flex;
}

.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--icon-fill-second-color);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

/* ----------------------------------------------PORTFOlIO-------------------------- */

.portfolio {
  background-color: var(--first-background-color);
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--first-btn-color);
  background-color: var(--btn-background-color);

  border-radius: 4px;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
}

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item-img {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);

  background: var(--first-background-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  color: currentColor;
}

.portfolio-img-entire-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-img-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.portfolio-img-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
